<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zxy.recovery">

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name=".core.RecoveryActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:process=":recover"
            android:screenOrientation="portrait"
            android:theme="@style/RecoveryTheme.NoActionBar">
        </activity>

        <service
            android:name=".core.RecoveryService"
            android:enabled="true"
            android:exported="false"
            android:process=":recover">
        </service>

    </application>

</manifest>